<div id="<%= dom_id course %>">
  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= course.classroom_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= course.service_id %>
  </p>

</div>
